<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/removal_2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/removal_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.DDR"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.ItineraryRoundTrip"
            android:exported="false" />
        <activity
            android:name=".ui.home.ReturnSearchFlights"
            android:exported="false" />
        <activity
            android:name=".ui.home.Itinerary"
            android:exported="false" />
        <activity
            android:name=".ui.home.ChoseHowToTravel"
            android:exported="false" />
        <activity
            android:name=".ui.home.SearchFlights"
            android:exported="false" />
        <activity
            android:name=".ui.home.SearchAirports"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name=".SignUp"
            android:exported="true"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name=".MainUserMenu"
            android:exported="true"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name=".ui.Reservations.BoardingPass"
            android:exported="true"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name=".ui.Reservations.Luggage"
            android:exported="true"
            tools:ignore="WrongManifestParent" />
    </application>

</manifest>